html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #feea0c;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 75px;
  text-align: left;
}

#premium-banner {
  width: 100%;
  height: 50px;
  padding-top: 25px;
  color: white;
  font-size: 1.1em;
  text-align: center;
  display: none;
  background-color: #ff591c9c;
}

#mobile-banner {
  width: 100%;
  padding: 25px;
  border-top: 5px solid white;
  color: white;
  font-size: 1.1em;
  text-align: center;
  display: none;
  background-color: #ff15f69c;
}

.right,
.left {
  display: flex;
  flex-direction: column;
  color: #505050;
}

.title {
  text-transform: uppercase;
  font-size: 2.3em;
  font-weight: 200;
  letter-spacing: 1px;
  margin-top: 0;
}

.link {
  font-size: 1.1em;
  margin-bottom: 5px;
  font-weight: 300;
  cursor: pointer;
}

.link.active {
  font-weight: 300;
  color: white;
}

.profile-informations {
  display: flex;
  flex-direction: row;
}

.subtitle {
  font-size: 1.1em;
  font-weight: 300;
  margin-right: 15px;
  align-self: center;
}

#player {
  padding: 20px;
  position: relative;
  background-color: #f7f7f7;
  width: 390px;
  height: 140px;
  border-radius: 15px;
  box-shadow: 7px 7px 10px #d7d7d766;
}

#avatar {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: solid 5px #f7f7f7;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  align-self: center;
  background-color: #c9e3ac;
}

#track-informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#artists {
  margin-top: 5px;
}

#artists > a {
  font-weight: 400;
  font-size: 1em;
  text-decoration: none;
  color: #505050;
}

#name {
  font-weight: 700;
  font-size: 1.1em;
  text-decoration: none;
  color: #505050;
}

#track-cover-container {
  width: 100px;
  height: 100px;
  border-radius: 25%;
  background-size: 25%;
  background-position: center;
  background-image: url("data:image/svg+xml;utf8,<svg width='80' height='81' color='rgb(95, 230, 216)' viewBox='0 0 80 81' xmlns='http://www.w3.org/2000/svg'> <title>Playlist Icon</title> <path paint-order='stroke' stroke='rgb(255, 115, 234)' stroke-width='10' d='M25.6 11.565v45.38c-2.643-3.27-6.68-5.37-11.2-5.37-7.94 0-14.4 6.46-14.4 14.4s6.46 14.4 14.4 14.4 14.4-6.46 14.4-14.4v-51.82l48-10.205V47.2c-2.642-3.27-6.678-5.37-11.2-5.37-7.94 0-14.4 6.46-14.4 14.4s6.46 14.4 14.4 14.4S80 64.17 80 56.23V0L25.6 11.565zm-11.2 65.61c-6.176 0-11.2-5.025-11.2-11.2 0-6.177 5.024-11.2 11.2-11.2 6.176 0 11.2 5.023 11.2 11.2 0 6.174-5.026 11.2-11.2 11.2zm51.2-9.745c-6.176 0-11.2-5.024-11.2-11.2 0-6.174 5.024-11.2 11.2-11.2 6.176 0 11.2 5.026 11.2 11.2 0 6.178-5.026 11.2-11.2 11.2z' fill='currentColor' fill-rule='evenodd' /></svg>");
}

#track-cover {
  width: 100px;
  height: 100px;
  border-radius: 25%;
}

#play-pause {
  cursor: pointer;
  position: absolute;
  bottom: -30px;
  right: 170px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: solid 5px #f7f7f7;
  background-position: center;
  background-size: 65%;
  background-repeat: no-repeat;
  align-self: center;
  background-color: #17a348;
}

#play-pause.paused {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' color='rgb(247, 247, 247)' width='36' height='36' fill='currentColor' viewBox='0 0 36 36' preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>play-solid</title><path class='clr-i-solid clr-i-solid-path-1' d='M32.16,16.08,8.94,4.47A2.07,2.07,0,0,0,6,6.32V29.53a2.06,2.06,0,0,0,3,1.85L32.16,19.77a2.07,2.07,0,0,0,0-3.7Z'></path><rect x='0' y='0' width='36' height='36' fill-opacity='0'/></svg>");
}

#play-pause.playing {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' color='rgb(247, 247, 247)' fill='currentColor' width='36' height='36'  viewBox='0 0 36 36' preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>pause-solid</title><rect class='clr-i-solid clr-i-solid-path-1' x='3.95' y='4' width='11' height='28' rx='2.07' ry='2.07'></rect><rect class='clr-i-solid clr-i-solid-path-2' x='20.95' y='4' width='11' height='28' rx='2.07' ry='2.07'></rect><rect x='0' y='0' width='36' height='36' fill-opacity='0'/></svg>");
}

#prev {
  cursor: pointer;
  position: absolute;
  bottom: -20px;
  left: 135px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: solid 5px #f7f7f7;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  align-self: center;
  background-color: #17a348;
  transform: rotate(180deg);
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' width='36' height='36' color='rgb(247, 247, 247)' fill='currentColor' viewBox='0 0 36 36' preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>step-forward-solid</title><path class='clr-i-solid clr-i-solid-path-1' d='M5,31.9a2,2,0,0,1-2-2V5.44A2,2,0,0,1,6.12,3.81L23.18,16a2,2,0,0,1,0,3.25h0L6.12,31.52A2,2,0,0,1,5,31.9Z'></path><rect class='clr-i-solid clr-i-solid-path-2' x='25.95' y='3.67' width='7' height='28' rx='2' ry='2'></rect><rect x='0' y='0' width='36' height='36' fill-opacity='0'/></svg>");
}

#next {
  cursor: pointer;
  position: absolute;
  bottom: -20px;
  right: 135px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: solid 5px #f7f7f7;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  align-self: center;
  background-color: #17a348;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' width='36' height='36' color='rgb(247, 247, 247)' fill='currentColor' viewBox='0 0 36 36' preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>step-forward-solid</title><path class='clr-i-solid clr-i-solid-path-1' d='M5,31.9a2,2,0,0,1-2-2V5.44A2,2,0,0,1,6.12,3.81L23.18,16a2,2,0,0,1,0,3.25h0L6.12,31.52A2,2,0,0,1,5,31.9Z'></path><rect class='clr-i-solid clr-i-solid-path-2' x='25.95' y='3.67' width='7' height='28' rx='2' ry='2'></rect><rect x='0' y='0' width='36' height='36' fill-opacity='0'/></svg>");
}

#library-state {
  cursor: pointer;
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: solid 5px #f7f7f7;
  background-position: center;
  background-size: 65%;
  background-repeat: no-repeat;
  align-self: center;
  background-color: #f7f7f7;
}

#library-state.saved {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' stroke-width='3' width='36' height='36' color='rgb(247, 247, 247)' fill='currentColor' viewBox='0 0 36 36' preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>check-line</title><path class='clr-i-outline clr-i-outline-path-1' d='M13.72,27.69,3.29,17.27a1,1,0,0,1,1.41-1.41l9,9L31.29,7.29a1,1,0,0,1,1.41,1.41Z'></path><rect x='0' y='0' width='36' height='36' fill-opacity='0'/></svg>");
  background-color: #17a348;
}

#library-state.to-save {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' stroke-width='3' width='36' height='36' color='rgb(23, 163, 72)' fill='currentColor' viewBox='0 0 36 36' preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>plus-line</title><path class='clr-i-outline clr-i-outline-path-1' d='M30,17H19V6a1,1,0,1,0-2,0V17H6a1,1,0,0,0-1,1,.91.91,0,0,0,1,.94H17V30a1,1,0,1,0,2,0V19H30a1,1,0,0,0,1-1A1,1,0,0,0,30,17Z'></path><rect x='0' y='0' width='36' height='36' fill-opacity='0'/></svg>");
}

.pageContainer {
  padding-top: 25px;
  padding-bottom: 25px;
}

#discovery {
  display: flex;
  justify-content: center;
}

#random-track-button {
  cursor: pointer;
  text-transform: uppercase;
  background-color: #17a348;
  color: #f7f7f7;
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 50px;
  border: solid 5px white;
  padding: 20px;
}

#playlists {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.playlist {
  height: 175px;
  width: 350px;
  display: flex;
  margin-bottom: 50px;
  margin-left: 25px;
  margin-right: 25px;
  background-color: white;
  box-shadow: 7px 7px 10px #d7d7d766;
  border-radius: 15px;
  overflow: hidden;
}

.cover {
  width: 175px;
  height: 100%;
}

.info {
  text-align: center;
  width: 175px;
  padding: 10px;
}

.name {
  font-size: 1.1em;
  font-weight: 400;
  text-decoration: none;
  color: #505050;
}

.nbTracks {
  font-size: 1em;
  font-weight: 300;
}

.cover-container {
  width: 175px;
  height: 100%;
  background-size: 25%;
  background-position: center;
  background-image: url("data:image/svg+xml;utf8,<svg width='80' height='81' color='rgb(95, 230, 216)' viewBox='0 0 80 81' xmlns='http://www.w3.org/2000/svg'> <title>Playlist Icon</title> <path paint-order='stroke' stroke='rgb(255, 115, 234)' stroke-width='10' d='M25.6 11.565v45.38c-2.643-3.27-6.68-5.37-11.2-5.37-7.94 0-14.4 6.46-14.4 14.4s6.46 14.4 14.4 14.4 14.4-6.46 14.4-14.4v-51.82l48-10.205V47.2c-2.642-3.27-6.678-5.37-11.2-5.37-7.94 0-14.4 6.46-14.4 14.4s6.46 14.4 14.4 14.4S80 64.17 80 56.23V0L25.6 11.565zm-11.2 65.61c-6.176 0-11.2-5.025-11.2-11.2 0-6.177 5.024-11.2 11.2-11.2 6.176 0 11.2 5.023 11.2 11.2 0 6.174-5.026 11.2-11.2 11.2zm51.2-9.745c-6.176 0-11.2-5.024-11.2-11.2 0-6.174 5.024-11.2 11.2-11.2 6.176 0 11.2 5.026 11.2 11.2 0 6.178-5.026 11.2-11.2 11.2z' fill='currentColor' fill-rule='evenodd' /></svg>");
  text-shadow: #ff73ea;
}

.button:focus {
  outline: none;
  border: solid 5px #6bbef0 !important;
  z-index: 50;
}
